@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap');

/* font-family: "Noto Serif TC",serif;
font-family: "Noto Sans TC", sans-serif;
font-family: "LXGW WenKai Mono TC", monospace; */

@font-face {
    font-family: "jf粉圓體";
    src: url(../uploads/jf-openhuninn-2.1.ttf);
}

@font-face {
    font-family: "辰宇落雁體";
    src: url(../uploads/ChenYuluoyan-2.0-Thin.ttf);
}

$themecolor1: #dde7e0;
$themecolor2: #264d2f;
$themecolor3: #bdb281;


body {
    background-color: $themecolor1;

    // .img-wrapper {
    //     position: relative;
    //     overflow: hidden;
    // }

    #mask1 {
        mask: url(#clip1) no-repeat center/contain;
        -webkit-mask: url(#clip1) no-repeat center/contain;
    }
    #mask2 {
        mask: url(#clip2) no-repeat center/contain;
        -webkit-mask: url(#clip2) no-repeat center/contain;
    }
    #mask3 {
        mask: url(#clip3) no-repeat center/contain;
        -webkit-mask: url(#clip3) no-repeat center/contain;
    }
    .carousel-item {
        position: relative;
    }

    .anim-circle,
    .anim-path {
        transform-box: fill-box;
        transform-origin: center;
        animation: scalePulse 1.8s ease-in-out forwards;
    }

    /* 如果想要在 CSS 端控制整個 SVG 的 scale（替代 SVG 內部 animateTransform） */
    @keyframes scalePulse {
        from {
            transform: scale(0.1);
        }

        to {
            transform: scale(1);
        }
    }


    .anim-circle:nth-child(2n+1) {
        animation-delay: 0s;
    }

    .anim-circle:nth-child(2n) {
        animation-delay: 0.1s;
    }

    .anim-circle:nth-child(5n) {
        animation-delay: 0.2s;
    }

    .anim-path {
        animation-delay: 1s;
    }


    header {
        nav {
            div {
                .collapse {
                    form {
                        input {
                            opacity: 0.3;
                            background-color: #ffffff60;
                            border: $themecolor2;

                            &:hover,
                            &:focus {
                                opacity: 1;
                                box-shadow: none;
                            }
                        }

                        button {
                            color: $themecolor2;

                            &:hover {
                                color: #FFF;
                            }
                        }
                    }
                }
            }
        }

        #content {
            .row {
                .col-md-2 {
                    .accordion {
                        margin-top: 8vw;

                        .accordion-item {
                            background-color: $themecolor3;

                            h2 {
                                button {
                                    color: #FFF;
                                    background-color: $themecolor2;
                                }
                            }

                            .accordion-collapse {
                                .accordion-body {
                                    .table {
                                        tbody {
                                            tr {
                                                td {
                                                    a {
                                                        text-decoration: none;
                                                        color: $themecolor2;

                                                        &:hover {
                                                            color: #FFF;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // slogan
    section {
        h1 {
            font-family: "辰宇落雁體";
            font-size: 5rem;
        }

        .brand {
            background-color: #fff;
        }

        .products {
            .d-flex {
                .product {
                    width: 15vw;
                    position: relative;

                    img {
                        position: absolute;
                        bottom: 0;
                    }

                    .btn-add-to-cart {
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        height: 30%;
                        background-color: $themecolor2;
                        color: #FFF;
                        opacity: 0;
                        display: none;
                        transition: opacity 0.3s ease;
                    }

                    &:hover {
                        .btn-add-to-cart {
                            opacity: 1;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

footer {
    background-image: url(../images/bgpic.jpg);
    background-size: 20%;

    .container-fluid {
        padding-top: 2vw;
    }
}