@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap");
/* font-family: "Noto Serif TC",serif;
font-family: "Noto Sans TC", sans-serif;
font-family: "LXGW WenKai Mono TC", monospace; */
@font-face {
  font-family: "jf粉圓體";
  src: url(../uploads/jf-openhuninn-2.1.ttf);
}
@font-face {
  font-family: "辰宇落雁體";
  src: url(../uploads/ChenYuluoyan-2.0-Thin.ttf);
}
@font-face {
  font-family: "LINESeed_thick";
  src: url(../uploads/LINESeedTW_TTF_Th.ttf);
}
@font-face {
  font-family: "LINESeed_regular";
  src: url(../uploads/LINESeedTW_TTF_Rg.ttf);
}
@font-face {
  font-family: "LINESeed_extrabold";
  src: url(../uploads/LINESeedTW_TTF_Eb.ttf);
}
@font-face {
  font-family: "LINESeed_bold";
  src: url(../uploads/LINESeedTW_TTF_Bd.ttf);
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #dde7e0;
  /* 如果想要在 CSS 端控制整個 SVG 的 scale（替代 SVG 內部 animateTransform） */
}
body .animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
body #mask1 {
  mask: url(#clip1) no-repeat center/contain;
  -webkit-mask: url(#clip1) no-repeat center/contain;
}
body #mask2 {
  mask: url(#clip2) no-repeat center/contain;
  -webkit-mask: url(#clip2) no-repeat center/contain;
}
body #mask3 {
  mask: url(#clip3) no-repeat center/contain;
  -webkit-mask: url(#clip3) no-repeat center/contain;
}
body .carousel-item {
  position: relative;
}
body .anim-circle,
body .anim-path {
  transform-box: fill-box;
  transform-origin: center;
  animation: scalePulse 1.8s ease-in-out forwards;
}
@keyframes scalePulse {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
body .anim-circle:nth-child(2n+1) {
  animation-delay: 0s;
}
body .anim-circle:nth-child(2n) {
  animation-delay: 0.1s;
}
body .anim-circle:nth-child(5n) {
  animation-delay: 0.2s;
}
body .anim-path {
  animation-delay: 1s;
}
body header nav {
  height: 4vw;
}
body header nav div a img {
  width: 60%;
}
body header nav div .collapse form input {
  opacity: 0.3;
  background-color: rgba(255, 255, 255, 0.3764705882);
  border: #264d2f;
}
body header nav div .collapse form input:hover, body header nav div .collapse form input:focus {
  opacity: 1;
  box-shadow: none;
}
body header nav div .collapse form button {
  color: #264d2f;
}
body header nav div .collapse form button:hover {
  color: #FFF;
}
body header #content .row .col-md-2 .accordion {
  margin-top: 8vw;
}
body header #content .row .col-md-2 .accordion .accordion-item {
  background-color: #bdb281;
}
body header #content .row .col-md-2 .accordion .accordion-item button:focus {
  box-shadow: none;
}
body header #content .row .col-md-2 .accordion .accordion-item button:focus::after {
  color: #fff;
}
body header #content .row .col-md-2 .accordion .accordion-item h2 button {
  color: #FFF;
  background-color: #264d2f;
}
body header #content .row .col-md-2 .accordion .accordion-item .accordion-body .table tbody tr td a {
  color: #264d2f;
}
body header #content .row .col-md-2 .accordion .accordion-item .accordion-body .table tbody tr td a:hover {
  color: #FFF;
}
body header #content .row .col-md-10 #myCarousel .infoTextR {
  text-align: end;
  position: absolute;
  z-index: 5;
  inset: 12vw 100px 0 0px;
}
body header #content .row .col-md-10 #myCarousel .infoTextR h2 {
  font-family: "LINESeed_bold";
  font-size: 8rem;
  color: #2d302c;
}
body header #content .row .col-md-10 #myCarousel .infoTextR p {
  font-family: "LINESeed_regular";
  font-size: 4rem;
}
body header #content .row .col-md-10 #myCarousel .infoTextR p:last-child {
  font-family: "Noto Serif TC";
  font-size: 16rem;
  font-weight: 800;
}
body header #content .row .col-md-10 #myCarousel .infoTextL {
  position: absolute;
  z-index: 5;
  inset: 8vw 0 0px 200px;
}
body header #content .row .col-md-10 #myCarousel .infoTextL img {
  width: 35%;
  margin-bottom: 4vw;
}
body header #content .row .col-md-10 #myCarousel .infoTextL h2 {
  font-family: "LINESeed_bold";
  font-size: 5rem;
}
body header #content .row .col-md-10 #myCarousel .infoTextL p {
  font-family: "LINESeed_regular";
  font-size: 2rem;
}
body header #content .row .col-md-10 #myCarousel .infoTextL2 {
  position: absolute;
  z-index: 5;
  inset: 14vw 0 0px 50px;
}
body header #content .row .col-md-10 #myCarousel .infoTextL2 h2 {
  font-family: "LINESeed_bold";
  font-size: 5rem;
}
body header #content .row .col-md-10 #myCarousel .infoTextL2 hr {
  border-top: #2d302c 4px solid;
  width: 45%;
}
body header #content .row .col-md-10 #myCarousel .infoTextL2 #artist {
  display: inline;
  font-size: 7rem;
  font-family: "jf粉圓體";
  padding-bottom: 10px;
}
body section #slogan {
  font-family: "辰宇落雁體";
  font-size: 5rem;
}
body section .brand {
  background-color: #fff;
}
body section .brand h4 {
  font-family: "LINESeed_bold";
  font-size: 3rem;
}
body section .products h4 {
  font-family: "LINESeed_bold";
  font-size: 3rem;
  height: 3rem;
}
body section .products .row .product {
  background-color: #dde7e0;
  border: none;
  font-family: "jf粉圓體";
}
body section .products .row .product .p-body {
  position: relative;
  width: 15vw;
  height: 16vw;
}
body section .products .row .product .p-body img {
  position: absolute;
  bottom: 0;
}
body section .products .row .product .p-body .btn-add-to-cart {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
  background-color: #264d2f;
  color: #FFF;
  opacity: 0;
  display: none;
  transition: opacity 0.3s ease;
}
body section .products .row .product .p-body:hover .btn-add-to-cart {
  opacity: 1;
  display: block;
}
body section .products .row .product h5 {
  text-align: center;
  font-size: 1.5rem;
}

footer {
  background-image: url(../images/bgpic.jpg);
  background-size: 20%;
}
footer .container-fluid #last-data {
  padding-top: 2vw;
  padding-bottom: 2vw;
}
footer .container-fluid #last-data h4 {
  margin-bottom: 20px;
  font-family: "jf粉圓體";
  font-weight: 300;
  color: #264d2f;
}
footer .container-fluid #last-data a:hover {
  color: #264d2f;
}
footer .container-fluid #last-data .icon p {
  font-size: 2rem;
}/*# sourceMappingURL=website_p01.css.map */