@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap');

/* font-family: "Noto Serif TC",serif;
font-family: "Noto Sans TC", sans-serif;
font-family: "LXGW WenKai Mono TC", monospace; */

@font-face {
    font-family: "jf粉圓體";
    src: url(../uploads/jf-openhuninn-2.1.ttf);
}

@font-face {
    font-family: "辰宇落雁體";
    src: url(../uploads/ChenYuluoyan-2.0-Thin.ttf);
}

@font-face {
    font-family: "LINESeed_thick";
    src: url(../uploads/LINESeedTW_TTF_Th.ttf);
}

@font-face {
    font-family: "LINESeed_regular";
    src: url(../uploads/LINESeedTW_TTF_Rg.ttf);
}

@font-face {
    font-family: "LINESeed_extrabold";
    src: url(../uploads/LINESeedTW_TTF_Eb.ttf);
}

@font-face {
    font-family: "LINESeed_bold";
    src: url(../uploads/LINESeedTW_TTF_Bd.ttf);
}


$themecolor1: #dde7e0;
$themecolor2: #264d2f;
$themecolor3: #bdb281;

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: $themecolor1;

    .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    #mask1 {
        mask: url(#clip1) no-repeat center/contain;
        -webkit-mask: url(#clip1) no-repeat center/contain;
    }

    #mask2 {
        mask: url(#clip2) no-repeat center/contain;
        -webkit-mask: url(#clip2) no-repeat center/contain;
    }

    #mask3 {
        mask: url(#clip3) no-repeat center/contain;
        -webkit-mask: url(#clip3) no-repeat center/contain;
    }

    .carousel-item {
        position: relative;
    }

    .anim-circle,
    .anim-path {
        transform-box: fill-box;
        transform-origin: center;
        animation: scalePulse 1.8s ease-in-out forwards;
    }

    /* 如果想要在 CSS 端控制整個 SVG 的 scale（替代 SVG 內部 animateTransform） */
    @keyframes scalePulse {
        from {
            transform: scale(0.1);
        }

        to {
            transform: scale(1);
        }
    }


    .anim-circle:nth-child(2n+1) {
        animation-delay: 0s;
    }

    .anim-circle:nth-child(2n) {
        animation-delay: 0.1s;
    }

    .anim-circle:nth-child(5n) {
        animation-delay: 0.2s;
    }

    .anim-path {
        animation-delay: 1s;
    }

    header {
        nav {
            height: 4vw;

            div {
                a {
                    img {
                        width: 60%;
                    }
                }

                .collapse {
                    form {
                        input {
                            opacity: 0.3;
                            background-color: #ffffff60;
                            border: $themecolor2;

                            &:hover,
                            &:focus {
                                opacity: 1;
                                box-shadow: none;
                            }
                        }

                        button {
                            color: $themecolor2;

                            &:hover {
                                color: #FFF;
                            }
                        }
                    }
                }
            }
        }

        #content {
            .row {
                .col-md-2 {
                    .accordion {
                        margin-top: 8vw;

                        .accordion-item {
                            background-color: $themecolor3;

                            h2 {
                                button {
                                    color: #FFF;
                                    background-color: $themecolor2;
                                }
                            }

                            .accordion-collapse {
                                .accordion-body {
                                    .table {
                                        tbody {
                                            tr {
                                                td {
                                                    a {
                                                        color: $themecolor2;

                                                        &:hover {
                                                            color: #FFF;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .col-md-10 {
                    #myCarousel {
                        .infoTextR {
                            text-align: end;
                            position: absolute;
                            z-index: 5;
                            inset: 12vw 100px 0 0px;

                            h2 {
                                font-family: "LINESeed_bold";
                                font-size: 8rem;
                                color: #2d302c;
                            }

                            p {
                                font-family: "LINESeed_regular";
                                font-size: 4rem;

                                &:last-child {
                                    font-family: "Noto Serif TC";
                                    font-size: 16rem;
                                    font-weight: 800;
                                }
                            }
                        }

                        .infoTextL {
                            position: absolute;
                            z-index: 5;
                            inset: 8vw 0 0px 200px;

                            img {
                                width: 35%;
                                margin-bottom: 4vw;
                            }

                            h2 {
                                font-family: "LINESeed_bold";
                                font-size: 5rem;
                            }

                            p {
                                font-family: "LINESeed_regular";
                                font-size: 2rem;
                            }


                        }

                        .infoTextL2 {
                            position: absolute;
                            z-index: 5;
                            inset: 14vw 0 0px 50px;

                            h2 {
                                font-family: "LINESeed_bold";
                                font-size: 5rem;
                            }

                            hr {
                                border-top: #2d302c 4px solid;
                                width: 45%;
                            }

                            #artist {
                                display: inline;
                                font-size: 7rem;
                                font-family: "jf粉圓體";
                                padding-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    // slogan
    section {
        #slogan {
            font-family: "辰宇落雁體";
            font-size: 5rem;
        }

        .brand {
            background-color: #fff;

            h4 {
                font-family: "LINESeed_bold";
                font-size: 3rem;
            }
        }

        .products {

            h4 {
                font-family: "LINESeed_bold";
                font-size: 3rem;
                height: 3rem;
            }

            .row {
                .product {
                    background-color: $themecolor1;
                    border: none;
                    font-family: "jf粉圓體";

                    .p-body {
                        position: relative;
                        width: 15vw;
                        height: 16vw;


                        img {
                            position: absolute;
                            bottom: 0;
                        }

                        .btn-add-to-cart {
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            height: 25%;
                            background-color: $themecolor2;
                            color: #FFF;
                            opacity: 0;
                            display: none;
                            transition: opacity 0.3s ease;
                        }

                        &:hover {
                            .btn-add-to-cart {
                                opacity: 1;
                                display: block;
                            }
                        }
                    }

                    h5 {
                        text-align: center;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

footer {
    background-image: url(../images/bgpic.jpg);
    background-size: 20%;

    .container-fluid {
        #last-data {
            padding-top: 2vw;
            padding-bottom: 2vw;

            h4 {
                margin-bottom: 20px;
                font-family: "jf粉圓體";
                font-weight: 300;
                color: $themecolor2;
            }

            a {
                &:hover {
                    color: $themecolor2;
                }
            }

            .icon {
                p {
                    font-size: 2rem;
                }
            }

        }
    }
}